<app-menu></app-menu>

<router-outlet></router-outlet>

<!-- 
<div class="text-layout">
    <h1>{{ nombre | titlecase }}</h1>
    <h1>{{ valor | number }}</h1>
    <h1>{{ obj | json }}</h1>
</div>
<button pButton type="button" class="p-button-help" icon="pi pi-apple" iconPos="right" label="Cambiar Nombre" (click)="mostrarNombre()"></button>

<p-card [header]="nombre | titlecase" subheader="Esto es un subheader">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam molestias ratione reprehenderit in a dolores praesentium voluptates repellat voluptatibus voluptatum, iste architecto ipsa numquam ex pariatur tempora cum expedita quia!
</p-card> -->